@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-hero;
}

.gradient-overlay {
  @apply absolute top-0 left-0 w-full bg-no-repeat h-full bg-gradient-to-r from-black via-black/70 to-transparent;
}
