@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.gradient {
  background: linear-gradient(#0a001bf1, #0a001bb7),
    url("./assets/main.bg.webp");
  background-size: cover;
  background-position: center;
}
